export XDG_DATA_HOME="$HOME/.local/share"
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_CACHE_HOME="$HOME/.cache"
export XDG_RUNTIME_DIR="$HOME/.local/bin"

{{ if (eq .chezmoi.os "android") -}}
path+=('/data/data/com.termux/files/usr/bin/lua-language-server')
{{ end -}}

[ ! -d $XDG_RUNTIME_DIR ] && mkdir -p $XDG_RUNTIME_DIR
path+=($XDG_RUNTIME_DIR)

export PATH
