#!/usr/bin/env bash

sudo apt-get update 
sudo apt-get install -y {{ .packages.debian.apt | join " " }}

{{ if lookPath "rustup" }}
rustup default stable
cargo install {{ .packages.debian.cargo | join " " }}
{{ end }}

